# Beispiel zu Pandas
Dies ist ein Beispiel zur Python Library Pandas.
- Name: Katja Gödde
- Datum: 04.02.2025

In [12]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        'temperatur': [-12, 3, 9, 10, 14, 17, 19, 19, 16, 11, 6, 4]
})

In [14]:
# have a look at df
df

    month  temperatur
0       1         -12
1       2           3
2       3           9
3       4          10
4       5          14
5       6          17
6       7          19
7       8          19
8       9          16
9      10          11
10     11           6
11     12           4

In [16]:
# print out some descriptive statistics
df.describe()

           month  temperatur
count  12.000000   12.000000
mean    6.500000    9.666667
std     3.605551    8.783594
min     1.000000  -12.000000
25%     3.750000    5.500000
50%     6.500000   10.500000
75%     9.250000   16.250000
max    12.000000   19.000000

Ein Aufruf der Funktion "describe" liefert: 
- count: Die Menge an Werten die für "month" und "temperatur" vorhanden sind
- mean: Den Mittelwerte aus allen Daten (arithmetisches Mittel).
- std: Die Standardabweichung für die Daten in den Spalten.
- min: Den Minimalwert für alle vorhanden Spalten.
- 25%: Das 25% Quartil für alle vorhanden Spalten.
- 50%: Das 50% Quartil für alle vorhanden Spalten (Median).
- 75%: Das 75% Quartil für alle vorhanden Spalten.
- max: Den Maximalwert für alle vorhanden Spalten.