# Beispiel zu Pandas
Dies ist ein Beispiel zur Python Library Pandas.
- Name: Katja GÃ¶dde
- Datum: 04.02.2025

In [4]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3],
        'temperatur': [-12, 3, 9]
})

# have a look at df
df

# print out some descriptive statistics
df.describe()

       month  temperatur
count    3.0    3.000000
mean     2.0    0.000000
std      1.0   10.816654
min      1.0  -12.000000
25%      1.5   -4.500000
50%      2.0    3.000000
75%      2.5    6.000000
max      3.0    9.000000