# Projektaufgabe zu Modul 3
Zu diesem Notebook: Ich habe zunächst die Aufgaben auf der Kurswebseite bearbeitet (bis auf die Exkurse) und die Beispiele nachvollzogen. Die eigentliche Bearbeitung der Projektaufgabe folgt danach. 
- Name: Katja Gödde
- Datum: 14.02.2025

In [213]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
sns.set_theme()

In [214]:
df = pd.read_csv("/home/katja/2024-2025-Data_Lirbrarian_Katja_Gödde/Modul_3/data/Library_Usage.csv", dtype={"Within San Francisco County": str}, na_values=['Null', 'NA', ''], low_memory=False)

In [215]:
df

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,NaN,NaN,Email,False,2023,NaN
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022.0,Print,False,2022,NaN
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023.0,Email,False,2023,NaN

# 3.1 Häufigkeiten

In [217]:
# Nachvollziehen der Beispiele

In [218]:
df['Age Range'].value_counts()

Age Range
25 to 34 years       95278
35 to 44 years       85669
10 to 19 years       67758
45 to 54 years       49820
0 to 9 years         33180
65 to 74 years       32455
20 to 24 years       27145
75 years and over    20721
55 to 59 years       19735
60 to 64 years       18088
Name: count, dtype: int64

In [219]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

In [220]:
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

In [221]:
# Häufigkeitsverteilung für die Variable 'Year Patron Registered'
df['Year Patron Registered'].value_counts(normalize=True)

Year Patron Registered
2023    0.132654
2022    0.115015
2003    0.088927
2021    0.072678
2019    0.072502
2020    0.065870
2017    0.064515
2018    0.062939
2016    0.048117
2015    0.043767
2014    0.033917
2013    0.028750
2012    0.027600
2011    0.026841
2009    0.024580
2010    0.024363
2008    0.021705
2007    0.014033
2006    0.011302
2005    0.010263
2004    0.009661
Name: proportion, dtype: float64

In [222]:
# 2,8% der Kunden wurden im Jahr 2013 registriert. Die meisten Kunden (13,2%) wurden im Jahr 2023 registriert.
# Auffällig ist, dass man fast sagen kann, dass pro Jahr immer mehr Kunden registriert worden sind mit Ausnahme von Jahr 2003.

In [223]:
# Wieviel Prozent der Kunden sind zwischen 25 und 34 Jahren?

In [224]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

In [225]:
# 21,18% der Kunden sind zwischen 25 und 34 Jahren.

In [226]:
# Ersetze die fehlenden Werte in der Spalte Age Range durch den Modus dieser Spalte.

In [227]:
df['Age Range'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
450354    False
450355    False
450356    False
450357    False
450358    False
Name: Age Range, Length: 450359, dtype: bool

In [228]:
df_missing = df.loc[df['Age Range'].isna()]
df_missing

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2010,Adult,0,0,NaN,Main,May,2021.0,Email,True,2017,False
3603,Digital Access Card,0,0,NaN,Main,Mar,2024.0,Email,True,2019,False
5212,Adult,5,4,NaN,Main,Mar,2024.0,Email,True,2022,False
5523,Adult,0,0,NaN,Main,Feb,2024.0,Email,True,2023,False
6521,Adult,0,0,NaN,Main,Mar,2024.0,Email,True,2018,False
...,...,...,...,...,...,...,...,...,...,...,...
450329,Digital Access Card,0,0,NaN,Glen Park,Aug,2022.0,Print,False,2022,NaN
450331,Digital Access Card,0,0,NaN,Glen Park,Oct,2021.0,Print,False,2021,NaN
450333,Digital Access Card,0,0,NaN,Glen Park,Aug,2021.0,Print,False,2021,NaN
450336,Digital Access Card,0,0,NaN,Bernal Heights,Nov,2023.0,Email,True,2023,NaN
450350,Digital Access Card,0,0,NaN,Visitacion Valley,Sep,2023.0,NaN,False,2023,NaN

In [229]:
df['Age Range'] = df['Age Range'].fillna(df['Age Range'].mode()[0]) 
df

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,NaN,NaN,Email,False,2023,NaN
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022.0,Print,False,2022,NaN
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023.0,Email,False,2023,NaN

In [230]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.212693
35 to 44 years       0.190224
10 to 19 years       0.150453
45 to 54 years       0.110623
0 to 9 years         0.073675
65 to 74 years       0.072065
20 to 24 years       0.060274
75 years and over    0.046010
55 to 59 years       0.043821
60 to 64 years       0.040164
Name: proportion, dtype: float64

In [231]:
# Die fehlenden Werte wurden durch den Modus (häufigsten Wert ersetzt) und nun beträgt der Prozentanteil der 25-34-jährigen 21,27%.

In [232]:
# Denkst Du, es handelt sich dabei um eine gute Methode, fehlende Werte zu ersetzen? Welche anderen Strategien fallen Dir ein?

Die Age Range wird etwas dadurch verzerrt, dass die fehlenden Werte alle durch den Modus ersetzt werden. Ich würde es in diesem Fall für sinnvoller halten die fehlenden Werte durch den Median oder das arithmetische Mittel zu ersetzen.

# Aufgabe 3.2 Mittelwert und Median

In [235]:
df['Total Checkouts'].mean()

155.218052709061

In [236]:
df['Total Checkouts'].median()

7.0

Die beiden Werte sind so unterschiedlich, weil es einige wenige Bibliotheksnutzerinnen gibt, die sehr viele Bücher ausleihen. Dadurch wird das arithmetische Mittel in die Höhe getrieben. Der Median ist dagegen immun gegen Ausreißerinnen nach oben oder unten.

In [238]:
# Was ziehst Du daraus für Schlüsse für weitere statistische Analysen und Reports?

Es sollten immer beide Werte betrachtet werden, um identifizieren zu können, ob das arithmetische Mittel durch Ausreißerinnen in die Höhe getrieben wird.

# Aufgabe 3.4 Varianz

In [241]:
df['Total Checkouts'].var()

276931.23963427445

In [242]:
df['Total Checkouts'].std()

526.2425672959899

In [243]:
# Welche Variable streut mehr: 'Total Checkouts' oder 'Total Renewals'? 
# Vergleiche die Standardabweichungen und den Variationskoeffizienten miteinander.

In [244]:
df['Total Checkouts'].std()

526.2425672959899

In [245]:
df['Total Renewals'].std()

305.91523273880455

In [246]:
cv_total_checkouts = df['Total Checkouts'].std()/df['Total Checkouts'].mean()
cv_total_checkouts

3.390343829930486

In [247]:
cv_total_renewals = df['Total Renewals'].std()/df['Total Renewals'].mean()
cv_total_renewals

3.873868313954441

Es wurde für beide Variablen die Standardabweichung berechnet. Da diese nur schwierig vergleichbar ist, wurde für beide Werte der Variationskoeffizient berechnet, indem die Standardabweichung durch das arithmetische Mittel geteilt wurde. Dadurch sind die Werte vergleichbar: Die Variable Total Renewals hat eine höhere Varianz.

# Aufgabe 3.6 Symmetrie und Schiefe

In [250]:
# Schau Dir die verschiedenen Histogramme im Bild an und charakterisiere jede einzelne Verteilung anhand von Schiefe, Symmetrie und Modus

1) Die Verteilung ist symmetrisch, da der Median und das arithmetische Mittel gleich sind. Dadurch besitzt sie auch keine Schiefe. Die Verteilung ist bimodal, besitzt also zwei Modi (links außen und rechts außen)
2) Die Verteilung ist nicht symmetrisch, sondern rechtsschief. Die Verteilung ist unimodal mit einem Modus rechts außen.
3) Die Verteilung ist nicht symmetrisch, sondern rechtsschief. Die Verteilung ist unimodal mit einem Modus rechts außen.
4) Die Verteilung ist nicht symmetrisch, sondern linksschief. Die Verteilung ist unimodal mit einem Modus links außen.
5) Die Verteilung ist symmetrisch, da der Median und das arithmetische Mittel gleich sind. Dadurch besitzt sie keine Schiefe. Die Verteilung scheint unimodel zu sein, da es einen Wert gibt, der etwas höher zu sein scheint (nicht ganz genau erkenntlich) als alle anderen.
6) Die Verteilung ist nicht symmetrisch, sondern rechtsschief. Die Verteilung ist unimodal mit einem Modus rechts außen.
7) Die Verteilung ist nicht symmetrisch, sondern linksschief. Die Verteilung ist unimodal mit einem Modus links außen.
8) Die Verteilung ist nicht symmetrisch, sondern linksschief. Die Verteilung ist unimodal mit einem Modus links außen.
9) Die Verteilung ist normalverteilt. Sie ist symmetrisch und besitzt dadurch keine Schiefe. Sie ist unimodul mit einem Modus, der dem Mittelwert und Median entspricht.

# Exkurs Korrelation

In [253]:
df['Total Checkouts'].corr(df['Total Renewals'])

0.6421628513121922

In [254]:
# Es besteht eine positive Korrelation zwischen den Ausleihen und den Verlängerungen. 
# Heißt: Kunden, die viel ausleihen, verlängern auch mehr als andere Kunden.

# 3.9 Balkendiagramme bei Fox New

Was fällt Dir an den folgenden Diagrammen von FoxNews auf?
Was würdest Du anders machen?
Welche Botschaft wollten die “Designer” vermutlich vermitteln? Passt die Botschaft mit den Daten zusammen?

Die Botschaft passt nicht mit den Daten zusammen. Das Diagramm beginnt nicht bei 0 und dadurch sieht der Unterschied viel dramatischer aus als er eigentlich ist. Der Diagramm sollte bei 0 beginnen, um die Differenz besser wiederzugeben.

# Tutorial

In [259]:
# use sample to generate a random subsample
df = pd.read_csv("../data/Library_Usage.csv",low_memory=False,na_values="Null").sample(n=1000)
df

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
11788,Adult,0,0,25 to 34 years,Marina,Mar,2024.0,Email,True,2023,False
127426,Adult,0,0,25 to 34 years,Main,NaN,NaN,Email,True,2023,True
346638,Juvenile,0,0,0 to 9 years,Main,NaN,NaN,Email,True,2020,True
371332,Juvenile,246,60,0 to 9 years,Bernal Heights,Mar,2024.0,Email,True,2015,True
418782,Teen,969,1370,10 to 19 years,Park,Mar,2024.0,Email,True,2012,True
...,...,...,...,...,...,...,...,...,...,...,...
311566,Adult,13,5,35 to 44 years,Park,Sep,2021.0,Email,True,2015,True
297156,Adult,5,9,75 years and over,Ortega,Mar,2024.0,Email,True,2023,True
12322,Teacher Card,44,7,25 to 34 years,Main,Oct,2021.0,Email,True,2018,False
197485,Adult,0,0,25 to 34 years,North Beach,Mar,2024.0,Email,True,2022,True
26013,Welcome,1,3,45 to 54 years,Park,Oct,2021.0,Email,True,2021,False

In [260]:
# Der erste Plot
sns.relplot(x='Total Checkouts', y='Total Renewals', data=df,
            height=5, aspect=3)

In [261]:
# Plot als Bilddatei abspeichern
plt.savefig('../tutorial.png', dpi=150)

In [300]:
# Farbei und Größe anpassen
sns.relplot(x='Total Checkouts', y='Total Renewals', 
                hue='Provided Email Address', style='Within San Francisco County', 
                size='Year Patron Registered', data=df)

In [302]:
# Anordnung von Zeilen und Spalten
sns.relplot(x='Total Checkouts', y='Total Renewals', 
            size='Year Patron Registered',
            row='Provided Email Address', col='Within San Francisco County', data=df)

In [304]:
# Auswahl einer Farbpalette
sns.relplot(x='Total Checkouts', y='Total Renewals', 
            hue='Provided Email Address', 
            col='Within San Francisco County',
            palette=sns.color_palette('Accent', 2), 
            data=df)

In [306]:
# Balkendiagramme
sns.catplot(y='Year Patron Registered',
            data=df, kind='count', color="steelblue")

In [311]:
sns.catplot(y='Age Range', hue='Provided Email Address', 
            data=df, kind='count')

In [310]:
sns.catplot(x='Patron Type Definition', 
            data=df, kind='count', 
            col='Year Patron Registered', col_wrap=4)

In [314]:
# Histogram
sns.distplot(df['Total Renewals'], kde=False)

/tmp/ipykernel_11240/224025452.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(df['Total Renewals'], kde=False)

In [316]:
# With density estimation
sns.distplot(df['Total Renewals'], kde=True)

/tmp/ipykernel_11240/3265830921.py:2: UserWarning:

`distplot` is a deprecated function and will be removed in seaborn v0.14.0.

Please adapt your code to use either `displot` (a figure-level function with
similar flexibility) or `histplot` (an axes-level function for histograms).

For a guide to updating your code to use the new functions, please see
https://gist.github.com/mwaskom/de44147ed2974457ad6372750bbe5751

  sns.distplot(df['Total Renewals'], kde=True)

In [320]:
# Swarmplot
sns.catplot(x='Year Patron Registered', y = 'Total Renewals',
            data=df, kind='swarm', color="steelblue", aspect=4)

/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 29.0% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 14.3% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 47.1% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 17.4% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 28.6% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 44.4% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 30.8% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 57.4% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 63.0% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 65.3% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 71.9% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 75.4% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 81.1% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 77.1% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 79.2% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 89.1% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 31.2% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 9.5% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 76.8% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 89.9% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/home/katja/anaconda3/lib/python3.12/site-packages/seaborn/categorical.py:3399: UserWarning: 19.0% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)

In [322]:
# Boxplot
sns.catplot(col='Year Patron Registered', y = 'Total Renewals',
            data=df, kind='box', color="steelblue", aspect=4)

# Eigene Aufgaben (Projektaufgabe)