# Projektaufgabe zu Modul 3
- Name: Katja Gödde
- Datum: 14.02.2025

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb

In [4]:
df = pd.read_csv("/home/katja/2024-2025-Data_Lirbrarian_Katja_Gödde/Modul_3/data/Library_Usage.csv", dtype={"Within San Francisco County": str}, na_values=['Null', 'NA', ''], low_memory=False)

In [6]:
df

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,NaN,NaN,Email,False,2023,NaN
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022.0,Print,False,2022,NaN
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023.0,Email,False,2023,NaN

# 3.1 Häufigkeiten

In [ ]:
# Nachvollziehen der Beispiele

In [14]:
df['Age Range'].value_counts()

Age Range
25 to 34 years       95278
35 to 44 years       85669
10 to 19 years       67758
45 to 54 years       49820
0 to 9 years         33180
65 to 74 years       32455
20 to 24 years       27145
75 years and over    20721
55 to 59 years       19735
60 to 64 years       18088
Name: count, dtype: int64

In [16]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

In [24]:
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

In [26]:
# Häufigkeitsverteilung für die Variable 'Year Patron Registered'
df['Year Patron Registered'].value_counts(normalize=True)

Year Patron Registered
2023    0.132654
2022    0.115015
2003    0.088927
2021    0.072678
2019    0.072502
2020    0.065870
2017    0.064515
2018    0.062939
2016    0.048117
2015    0.043767
2014    0.033917
2013    0.028750
2012    0.027600
2011    0.026841
2009    0.024580
2010    0.024363
2008    0.021705
2007    0.014033
2006    0.011302
2005    0.010263
2004    0.009661
Name: proportion, dtype: float64

In [30]:
# 2,8% der Kunden wurden im Jahr 2013 registriert. Die meisten Kunden (13,2%) wurden im Jahr 2023 registriert.
# Auffällig ist, dass man fast sagen kann, dass pro Jahr immer mehr Kunden registriert worden sind mit Ausnahme von Jahr 2003.

In [32]:
# Wieviel Prozent der Kunden sind zwischen 25 und 34 Jahren?

In [34]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

In [36]:
# 21,18% der Kunden sind zwischen 25 und 34 Jahren.

In [38]:
# Ersetze die fehlenden Werte in der Spalte Age Range durch den Modus dieser Spalte.

In [40]:
df['Age Range'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
450354    False
450355    False
450356    False
450357    False
450358    False
Name: Age Range, Length: 450359, dtype: bool

In [44]:
df_missing = df.loc[df['Age Range'].isna()]
df_missing

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
2010,Adult,0,0,NaN,Main,May,2021.0,Email,True,2017,False
3603,Digital Access Card,0,0,NaN,Main,Mar,2024.0,Email,True,2019,False
5212,Adult,5,4,NaN,Main,Mar,2024.0,Email,True,2022,False
5523,Adult,0,0,NaN,Main,Feb,2024.0,Email,True,2023,False
6521,Adult,0,0,NaN,Main,Mar,2024.0,Email,True,2018,False
...,...,...,...,...,...,...,...,...,...,...,...
450329,Digital Access Card,0,0,NaN,Glen Park,Aug,2022.0,Print,False,2022,NaN
450331,Digital Access Card,0,0,NaN,Glen Park,Oct,2021.0,Print,False,2021,NaN
450333,Digital Access Card,0,0,NaN,Glen Park,Aug,2021.0,Print,False,2021,NaN
450336,Digital Access Card,0,0,NaN,Bernal Heights,Nov,2023.0,Email,True,2023,NaN
450350,Digital Access Card,0,0,NaN,Visitacion Valley,Sep,2023.0,NaN,False,2023,NaN

In [48]:
df['Age Range'] = df['Age Range'].fillna(df['Age Range'].mode()[0]) 
df

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,NaN,NaN,Email,False,2023,NaN
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022.0,Print,False,2022,NaN
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023.0,Email,False,2023,NaN

In [50]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.212693
35 to 44 years       0.190224
10 to 19 years       0.150453
45 to 54 years       0.110623
0 to 9 years         0.073675
65 to 74 years       0.072065
20 to 24 years       0.060274
75 years and over    0.046010
55 to 59 years       0.043821
60 to 64 years       0.040164
Name: proportion, dtype: float64

In [52]:
# Die fehlenden Werte wurden durch den Modus (häufigsten Wert ersetzt) und nun beträgt der Prozentanteil der 25-34-jährigen 21,27%.

In [54]:
# Denkst Du, es handelt sich dabei um eine gute Methode, fehlende Werte zu ersetzen? Welche anderen Strategien fallen Dir ein?

Die Age Range wird etwas dadurch verzerrt, dass die fehlenden Werte alle durch den Modus ersetzt werden. Ich würde es in diesem Fall für sinnvoller halten die fehlenden Werte durch den Median oder das arithmetische Mittel zu ersetzen.

# Aufgabe 3.2 Mittelwert und Median

In [60]:
df['Total Checkouts'].mean()

155.218052709061

In [62]:
df['Total Checkouts'].median()

7.0

Die beiden Werte sind so unterschiedlich, weil es einige wenige Bibliotheksnutzerinnen gibt, die sehr viele Bücher ausleihen. Dadurch wird das arithmetische Mittel in die Höhe getrieben. Der Median ist dagegen immun gegen Ausreißerinnen nach oben oder unten.

In [65]:
# Was ziehst Du daraus für Schlüsse für weitere statistische Analysen und Reports?

Es sollten immer beide Werte betrachtet werden, um identifizieren zu können, ob das arithmetische Mittel durch Ausreißerinnen in die Höhe getrieben wird.

# Aufgabe 3.4 Varianz

In [72]:
df['Total Checkouts'].var()

276931.23963427445

In [80]:
df['Total Checkouts'].std()

526.2425672959899

In [78]:
# Welche Variable streut mehr: 'Total Checkouts' oder 'Total Renewals'? 
# Vergleiche die Standardabweichungen und den Variationskoeffizienten miteinander.

In [82]:
df['Total Checkouts'].std()

526.2425672959899

In [84]:
df['Total Renewals'].std()

305.91523273880455

In [92]:
cv_total_checkouts = df['Total Checkouts'].std()/df['Total Checkouts'].mean()
cv_total_checkouts

3.390343829930486

In [94]:
cv_total_renewals = df['Total Renewals'].std()/df['Total Renewals'].mean()
cv_total_renewals

3.873868313954441

Es wurde für beide Variablen die Standardabweichung berechnet. Da diese nur schwierig vergleichbar ist, wurde für beide Werte der Variationskoeffizient berechnet, indem die Standardabweichung durch das arithmetische Mittel geteilt wurde. Dadurch sind die Werte vergleichbar: Die Variable Total Renewals hat eine höhere Varianz.