In [3]:
import pandas as pd

# Beispiel 1

In [7]:
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

Das Skalenniveau ist verhältnisskaliert, da die Werte metrisch sind und einen natürlichen Nullpunkt besitzen
Die Variable ist diskret, da es sich um ganze Zahlen handelt. Diese können abzählbar unendlich viele Werte annehmen.

# Beispiel 2

In [9]:
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

In [21]:
# Datentypen der einzelnen Spalten
print(df.dtypes)

month         object
temp           int64
below_zero      bool
dtype: object

Die Skalenniveaus sind:
- month: nominal, da die Werte in keine sinnvoll geordnete Reihenfolge gebracht werden können.
- temp: intervallskaliert, da mit den Werten sinnvoll gerechnet werden kann, sie aber keinen natürlichen Nullpunkt besitzen. 
- below_zero: nominal, da die Werte in keine sinnvoll geordnete Reihenfolge gebracht werden können.
Die Variablen sind: 
- month: diskret, da abzählbare viele endliche Werte angenommen werden können. 
- temp: diskret, da für ein integer Objekt abzählbar unendlich viele Werte angenommen werden können.
- below_zero: disrket, da abzählbar viele endliche Werte angenommen werden können

In [26]:
# Neue Zeile zum DataFrame hinzufügen
df.loc[len(df)] = ['Apr', 10, False]  
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr    10       False
4   Apr    10       False

In [30]:
# Neue Spalte 'year' mit dem gleichen Wert für alle Zeilen hinzufügen
df['year'] = '2020'
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr    10       False  2020
4   Apr    10       False  2020